{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}3WVKV | Se connecter{% endblock %}

{% block body %}

    <section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">

        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

          <form method="POST" style="width: 23rem;">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h3 class="fw-normal mb-3 pb-3 d-flex" style="letter-spacing: 1px;">Se connecter</h3>

            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example18">Email : </label>
              <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-control-lg" autocomplete="email" required autofocus>

            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example28">Mot de passe :</label>
              <input type="password" name="password" id="inputPassword" class="form-control form-control-lg" autocomplete="current-password" required>

            </div>

            <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}">

            <div class="pt-1 mb-4 d-flex justify-content-center">
              <button class="btn btn-lg btn-primary" type="submit">Connexion</button>
            </div>

            <p class="small mb-5 pb-lg-2"><a class="text-muted" href="{{ path( 'app_forgot_password_request')}}">Mot de passe oublié</a></p>
            <p>Vous n'avez pas de compte ? <a href="{{ path( 'app_register')}}" class="link-info">Inscrivez-vous</a></p>

          </form>

        </div>

      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img3.webp"
          alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
      </div>
    </div>
  </div>
</section>
{% endblock %}
