<nav class="navbar navbar-expand-md bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" href="{{ path('app_home') }}"><img class="home-icon" src="/assets/images/favicon.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll flex-wrap" style="--bs-scroll-height: 100px;">
        {% if is_granted('ROLE_ADMIN') %}
          <li class="nav-item">
            <a class="nav-link text-light" href="/admin">Dashboard</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="{{ path('app_article_index') }}">Nos articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{{ path('app_category_index') }}">Catégories</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Réseaux
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://www.instagram.com/3wvkv/">Instagram</a></li>
            <li><a class="dropdown-item" href="https://www.twitter.com/kikilhc/">Twitter</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://www.linkedin.com/in/stephane-almeida-alves/">Linkedin</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="{{ path('app_contact') }}">Contact</a>
        </li>

      </ul>

      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      <div class="navbar-nav d-flex align-items-center">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll  ">
          <!-- Les liens ne seront pas affichés, sauf un bouton de déconnexion -->
          <li class="nav-item ">

            <a class="nav-link text-light mx-4" href="{{ path('app_logout') }}">

            {# SVG LOGOUT #}

              <svg class="logout-icon"width="32" height="32" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.25 15.75v1.875a1.875 1.875 0 0 1-1.875 1.875h-7.5A1.875 1.875 0 0 1 3 17.625V6.375A1.875 1.875 0 0 1 4.875 4.5H12c1.036 0 2.25.84 2.25 1.875V8.25"></path>
                <path d="M17.25 15.75 21 12l-3.75-3.75"></path>
                <path d="M8.25 12h12"></path>
              </svg>

            </a>
          </li>
        </ul>
      </div>
      {% else %}
        <div class="navbar-nav d-flex align-items-center">

          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll ">
            <li class="nav-item ">



            <a class="nav-link text-light btn" href="{{ path('app_login') }}">

            {# SVG LOGIN #}

            <svg class="login-icon" width="32" height="32" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 8.25V6.375A1.875 1.875 0 0 1 10.875 4.5h7.5a1.875 1.875 0 0 1 1.875 1.875v11.25a1.875 1.875 0 0 1-1.875 1.875H11.25c-1.036 0-2.25-.84-2.25-1.875V15.75"></path>
              <path d="M13.5 15.75 17.25 12 13.5 8.25"></path>
              <path d="M3.75 12H16.5"></path>
            </svg>
            
            </a>



            </li>
            <li class="nav-item">
              <a class="nav-link text-light mx-4" href="{{ path('app_register') }}">

              {# SVG SIGN UP #}
              
              <svg class="register-icon" width="32" height="32" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.5 11.75c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4Zm0-6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2Zm-6 12c.2-.63 2.57-1.68 4.96-1.94l2.04-2a9.34 9.34 0 0 0-1-.06c-2.67 0-8 1.34-8 4v2h9l-2-2h-5Zm15.6-5.5-5.13 5.17-2.07-2.08-1.4 1.41 3.47 3.5 6.53-6.59-1.4-1.41Z"></path>
              </svg>
              
              </a>
            </li>
          </ul>
        </div>

      {% endif %}

      <form class="d-flex" role="search" action="{{ path('app_lookup') }}" method="GET">
      
        <input class="form-control me-2" name="search" type="search" placeholder="Rechercher..." aria-label="Search">


        <button class="btn btn-search-nav" type="submit">


        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none"><style>@keyframes flipping{0%{transform:rotate3d(1,1,0,0deg)}to{transform:rotate3d(1,1,0,180deg)}}</style><g style="animation:flipping 1.5s cubic-bezier(.96,-.2,0,1.29) both infinite alternate-reverse"><path fill="#FFF" fill-rule="evenodd" d="M5.71 11.025a5.25 5.25 0 1010.5 0 5.25 5.25 0 00-10.5 0zm5.25-7a7 7 0 100 14 7 7 0 000-14z" clip-rule="evenodd"/><rect width="1.839" height="3.677" x="16.139" y="17.375" fill="#fff" rx=".2" transform="rotate(-45 16.14 17.375)"/></g></svg>

        
        </button>

      </form>
    </div>
  </div>
</nav>
