{% extends 'base.html.twig' %}


{% block title %}3WVKV | {{article.title}}{% endblock %}

{% block body %}

{{ article.content | raw }}


    <h3 class="py-5 border-top border-secondary text-center">Commentaires</h3>


<div>
    {% for comment in comments|reverse %}

      <section>
        <div class="container my-5 py-3">
          <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10">
              <div class="card text-dark">
                <div class="card-body p-4">
                  <p class="fw-light mb-4 pb-2">Commentaire les plus récents</p>

                  <div class="d-flex flex-start">
                    <img class="rounded-circle shadow-1-strong me-3"
                      src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(23).webp" alt="avatar" width="60"
                      height="60" />
                    <div>
                      <h6 class="fw-bold mb-1">{{comment.user.pseudo}}</h6>
                      <div class="d-flex align-items-center mb-3">

                        <p class="mb-0">

                          {{ comment.createdAt | format_date('full')  }}
                          <span>à {{comment.createdAt.format('H')}} h</span>
                          <span>{{comment.createdAt.format('i')}}</span>
                          

                        </p>

                      </div>
                      <p class="mb-0">
                          {{comment.content}}
                      </p>
                    </div>
                  </div>
                </div>

                <hr class="my-0" />

                
      </section>
    {% endfor %}
</div>

    <div class="my-5 d-flex justify-content-center">
        <button class="btn btn-success"><a class="text-light text-decoration-none " href="{{ path('app_comment_new', {'slug': article.slug}) }} ">Ajouter un commentaire</a></button>
    </div>





    

{% endblock %}
